[Unit]
Description=ROS Sensors Service Hook
Requires=ros-watchdog.service
After=ros-watchdog.service

[Service]
ExecStart=/bin/bash -c "echo Started ROS Sensors Service Hook"
RemainAfterExit=true
Restart=always

[Install]
WantedBy=ros-watchdog.service

